<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WTWeather App</title>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>
<body>
  <div class="logo">
    <img id="logo" src="https://imgs.search.brave.com/S3MHiUakEXhZ6G58EuVZ20Gr4wznR25Cq-ui4p_8yks/rs:fit:256:256:1/g:ce/aHR0cHM6Ly92aWdu/ZXR0ZS53aWtpYS5u/b2Nvb2tpZS5uZXQv/bG9nb3BlZGlhL2lt/YWdlcy8zLzM5L01z/bl93ZWF0aGVyX25l/dy5wbmcvcmV2aXNp/b24vbGF0ZXN0P2Ni/PTIwMTkwOTAzMTcx/MjI5">
</div>
<div class="header">
  <h1>Whats The Weather?</h1>
</div>
    <div class="container">
      <fieldset class="form-outline">
        <form action="/" method="post">
          <input name="city" class="input" type="text" placeholder="Enter a City">  
          <input type="submit"  class="submit-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>
        <% if(error !== null){ %>
        <% } %>
      </fieldset>
    </div>
</body>
</html>